body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f0f0f0;
}

a {
  color: #00B7FF;
}

.bs-callout-relacionados {
    margin-bottom: 0px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #f0f0f0;
    border-left-width: 5px;
    background-color: #fff;
    border-radius: 3px;
}
.bs-callout-relacionados  h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout-relacionados  p:last-child {
    margin-bottom: 0;
}
.bs-callout-relacionados  code {
    border-radius: 3px;
}
.bs-callout-relacionados+.bs-callout-relacionados {
    margin-top: -5px;
}
.bs-callout-default-relacionados {
    border-left-color: #777;
}
.bs-callout-default-relacionados h4 {
    color: #777;
}
.bs-callout {
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #f0f0f0;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #fff;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}