doctype html
html(ng-app='MyApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-route.min.js')
    script(src='/MyApp.js')
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/bootstrap.min.js')